@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Thin.ttf");
  font-weight: 100;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraLight.ttf");
  font-weight: 200;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: italic;
}
