.film-icon {
  align-self: center;
  scale: 2;
  margin-bottom: 1rem;
  vertical-align: top;
  overflow-y: hidden;
  background-color: transparent;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#shape-f22025ed-2924-807f-8002-a2aff9654955 {
  transition: all 0.5s ease-out;
}

.film-icon:hover #shape-f22025ed-2924-807f-8002-a2aff9654955 {
  transform: translateY(-50%);
}
