.DS_Store
node_modules/
.vscode/*
.idea/*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

.eslintcache
.docusaurus/
build/
types
package-lock.json
yarn.lock
