{
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 120,
  "tabWidth": 2,
  "quoteProps": "preserve",
  "singleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
